ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}
li {
    float: left;
    margin: 7px;
    display: block;
    background-color: white;
    color: white;
    text-align: center;
    padding: 3px;
    text-decoration: none;
}
li div:hover {
    background-color: tomato;
}
body {
    background-color: teal;
}